/*!* You can add global styles to this file, and also import other style files *!*/
/*@font-face {*/
  /*font-family: 'Eksell Display Stencil';*/
  /*src: url('assets/fonts/hinted-EksellDisplay-Stencil.eot');*/
  /*src: url('assets/fonts/hinted-EksellDisplay-Stencil.eot?#iefix') format('embedded-opentype'),*/
  /*url('assets/fonts/hinted-EksellDisplay-Stencil.woff') format('woff'),*/
  /*url('assets/fonts/hinted-EksellDisplay-Stencil.ttf') format('truetype');*/
  /*font-weight: 100;*/
  /*font-style: normal;*/
/*}*/

@font-face {
  font-family: 'Eksell Display Small';
  src: url('assets/fonts/hinted-EksellDisplay-Small.eot');
  src: url('assets/fonts/hinted-EksellDisplay-Small.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/hinted-EksellDisplay-Small.woff') format('woff'),
  url('assets/fonts/hinted-EksellDisplay-Small.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: 'Eksell Display Small';
}

/*h1.headline {*/
  /*font-family: 'Eksell Display Stencil';*/
/*}*/

h2 {
  font-family: 'Muli', sans-serif;
}
