<div class="main">
  <article>
    <h1>Stanley a previsualization tool for Nike Jordan</h1>
    <p>
      What do people do when they like
      something? Of course, the answer to this
      question depends on what it is that they
      like, whether it is physical, emotional or
      even digital. In recent years and with the
      emergence of Facebook, liking something
      has taken on a completely new meaning
      and can be something as simple as
      pressing a button next to a picture. Surely
      liking something today requires less of a
      commitment and action than ever before.
      This is the motivation that we use to base
      the concept of our artwork.
      First, when people like something in the
      real world, we end up losing something
      along with it – be it time, money or
      emotion, to name a few. For this reason,
      people are more ready to like something
      when there is little to no investment,
      such as pressing the “Like” button
      on Facebook. This is where the line is
      drawn between the real world and the
      digital world. With Facebook, “Liking”
      has taken on an entirely new meaning,
      where users of the social networking
      service press the “Like” button to share
      content and interests with their friends.
      In liking something on Facebook, there
      is no risk involved and definitely a lack
      of investment. Through this, we believe
      that the “Like” button on Facebook has
      become mundane and in many ways
      insignificant.
      Secondly, we simply wanted to make
      people’s days better. We noticed that
      sometimes when we are on their own,
      we often become preoccupied with our
      agendas and troubles, often making us
      sad. Our inspiration comes from Juan
      Mann, an artist who was feeling down on
      a particular day until he received a random
      hug from a stranger. The gesture of a hug
      made Juan Mann’s day so much better
      and so much more significant that he was
      inspired to start the Free Hugs Campaign.
      We wanted to replicate this very feeling
      that is so significant to somebody and
      recreate with something as insignificant
      as liking something on Facebook.
      We took these two ideas and merged
      them together. Clicking the “Like” button
      on somebody’s Facebook page does not
      do as much for a person as something like
      a hug. Simple gestures can go a long way
      because of the physical investment that
      is required in one. This investment is what
      we hope to use – to replicate physical
      actions and feelings and translate it into
      the digital world by making something
      insignificant such as a “Like” in Facebook
      into something that is meaningful and
      significant to somebody.◊
    </p>
    <iframe width="740" height="464"
            src="https://www.youtube.com/embed/lmu2WSuT_eg?theme=light&color=white&showinfo=0&controls=2&modestbranding=0&rel=0&start=3&cc_load_policy=1&iv_load_policy=1"
            frameborder="0" allowfullscreen></iframe>
    <iframe width="740" height="464"
            src="https://www.youtube.com/embed/WLxe1a06FDY?theme=light&color=white&showinfo=0&controls=2&modestbranding=0&rel=0&start=3&cc_load_policy=1&iv_load_policy=1"
            frameborder="0" allowfullscreen></iframe>
  </article>
</div>
