@import '../../assets/css/_mixins';
@import '../../assets/css/_variables';

$text: $default-text;
$boner-width: 580 * 1px;
$boner-height: ($boner-width/5);
$rotation: 30deg;


:host {
  background: $text;
  height: $boner-height/2;
  left: 50%;
  margin-left: -($boner-width/4);
  margin-top: -($boner-height*($phi/2));
  position: fixed;
  top: 50%;
  transform: rotate(-$rotation);
  -ms-transform: rotate(-$rotation);
  -webkit-transform: rotate(-$rotation);
  width: $boner-width/2;

  @include bp(large) {
    background: $text;
    height: $boner-height;
    left: 50%;
    margin-left: -$boner-width/2;
    margin-top: -$boner-height;
    top: 50%;
    width: $boner-width;
  }
}

h1 {
  @include accessible-hide;
}