@import '../../assets/css/_mixins';
@import '../../assets/css/_variables';

$text: $default-text;
$hover: $red-mh;

:host {
  font-family: $sans-default-family;
  font-weight: 700;
  font-size: 14px;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  border: solid 1px darken($red-mh, 10%);
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-size: auto 50%;

  @include bp(4) {
    border-radius: 0;
    border: none;
    width: 400px;
    height: auto;
    top: 72px;
    left: 72px;
    right: auto;
    bottom: auto;
    background: none;
  }
}

dl {
  &::after {
    content: '';
    position: absolute;
    bottom: -$default-bleed;
    left: -($default-bleed*2);
    width: $hi-number;
    height: 1px;
    background: $gray-mh;
  }
}

dt {
  @include accessible-hide();
}

dd {
  @include hide();
  line-height: 2;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .7px;
  padding-left: 24px;
  position: relative;
  color: $text;

  @include bp(4) {
    @include show(block);
  }

  &::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: '\2014';
    color: $text;
  }
}

a {
  cursor: pointer;
  color: $text;
  text-decoration: none;

  &:hover {
    .scroll-through {
      border-bottom: dotted 1px $text;
      color: $hover;
    }
  }

  :visited {
    color: $text;
  }

  &.highlight-all:hover {
    color: $hover;
    border-bottom: dotted 1px $text;
  }
}

.scroll-through {
  color: $hover;
  font-style: italic;
}
