<sun-dial [partOfDay]="partOfDay$"></sun-dial>

<div class="main" [ngClass]="(partOfDay$ | async)?.filterClass">
  <article>

    <h1>{{(obs$ | async)[0]?.title}}</h1>
    <p>{{(obs$ | async)[0]?.paragraph}}</p>

    <iframe
        width="740"
        height="464"
        src="https://www.youtube.com/embed/lmu2WSuT_eg?theme=light&color=white&showinfo=0&controls=2&modestbranding=0&rel=0&start=3&cc_load_policy=1&iv_load_policy=1"
        frameborder="0"
        allowfullscreen>
    </iframe>
    <iframe
        width="740"
        height="464"
        src="https://www.youtube.com/embed/WLxe1a06FDY?theme=light&color=white&showinfo=0&controls=2&modestbranding=0&rel=0&start=3&cc_load_policy=1&iv_load_policy=1"
        frameborder="0"
        allowfullscreen>
    </iframe>
  </article>
</div>
