@import '../../assets/css/_variables';
@import '../../assets/css/_mixins';
@import '../../assets/css/_extends';


@mixin color-filter($color) {
  $local-bg: $white-off;
  $local-copy: $black-mh;
  $local-link: $blue-link;

  &.#{$color}-filter {
    @if $color == 'sepia' {
      $local-bg: $sepia-bg;
      $local-copy: $sepia-copy;
      $local-link: $sepia-link;
    } @else if $color == 'dark' {
      $local-bg: $dark-bg;
      $local-copy: $dark-copy;
      $local-link: $dark-link;
    } @else {
      $local-bg: $light-bg;
      $local-copy: $light-copy;
      $local-link: $light-link;
    }

    background-color: $local-bg;
    color: #{$color}-copy;
    border-left: 36px solid darken($local-bg, 5%);
    border-right: 36px solid darken($local-bg, 5%);

    a {
      color: $local-link
    }
  }
}



.main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: ms(3, $thread: aug);

  $partOfDayColors: 'light', 'dark', 'sepia';
  @for $i from 1 through length($partOfDayColors) {
    @include color-filter(nth($partOfDayColors, $i));
  }
}

article {
  max-width: 740px;
  padding: 0 20px;
  margin: 0 auto;
  // ADD THIS AS IT OWN CLASS AS A TEMPLATE TYPE!\
  //-moz-column-count: 2;
  //-moz-column-gap: 20px;
  //-webkit-column-count: 2;
  //-webkit-column-gap : 20px;
  //-moz-column-rule-color:  #ccc;
  //-moz-column-rule-style:  solid;
  //-moz-column-rule-width:  1px;
  //-webkit-column-rule-color:  #ccc;
  //-webkit-column-rule-style: solid ;
  //-webkit-column-rule-width:  1px;
}

h1 {
  font-size: $headline;
  line-height: 1.25em;
  width: 100%;
  margin: 36px 0;
  padding: 0;
}

p {
  line-height: 1.6em;
  font-size: $paragraph;
  margin: 0 0 36px 0;
  widows: 3;
  orphans: 3;
}
