$phi: 1.618;

$black-mh: #555;
$gray-mh: #888;
$red-mh: tomato;
$default-text: $black-mh;
$white-off: #f7f7f7;
$bold: 700;
$default-bleed: 72 * 1px;
$hi-number: 420 * 1px;
$display-font-family: 'pompadourblack';
$sans-default-family: 'Noto Sans', sans-serif;
