@import '../../assets/css/_variables';
@import '../../assets/css/_mixins';
@import '../../assets/css/_extends';

$text: $default-text;
$host-width: 100%;
$article-header-bg: $white-off;

:host {
  width: $host-width;
  margin: 0 auto;
  text-align: center;
  background: $article-header-bg;

  @include bp(large) {
    @include center-flex();
  }
}

h3,
h4,
h6,
p {
  font-family: $sans-default-family;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

h4 {
  padding: 0 36px;

  @include bp(large){
    padding: 0;
  }
}

.block {
  @extend %full-abs-bleed;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;

  &::before {
    @include bp(large) {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -0.25em;
      vertical-align: middle; /* Adjusts for spacing */
    }
  }

  h6 {
    color: rgba($default-text, .1);
    display: inline-block;
    font-family: $display-font-family;
    font-size: 50vh;
    vertical-align: middle;
    width: 100%;
    user-select: none;
  }
}


.categories {
  $line-width: 40px;
  $line-top: 0;

  display: inline-block;
  position: relative;

  &::before {
    background: $text;
    content: '';
    height: 1px;
    left: -$line-width;
    position: absolute;
    top: $line-top;
    width: $line-width;
  }

  &::after {
    background: $text;
    content: '';
    height: 1px;
    position: absolute;
    right: -$line-width;
    top: $line-top;
    width: $line-width;
  }

  h3 {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
    top: -13px;
  }
}


h4 {
  font-size: 16px;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 16px;
}

@include bp(large){}

.title-wrapper {
  display: block;
  padding: 32px;

  h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;

    @include bp(large){
      font-size: 72px;
    }
  }
}